@model IEnumerable<BI.GST.Application.ViewModels.CursoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.PIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCurso.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.PIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCurso.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CursoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CursoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CursoId })
        </td>
    </tr>
}

</table>
