@model BI.GST.Application.ViewModels.FinanceiroParcelaViewModel

@using (Html.BeginCollectionItem("FinanceiroParcelaViewModel"))
{
    @Html.HiddenFor(model => model.FinanceiroParcelaId)
    @Html.HiddenFor(model => model.FinanceiroId)
    @Html.HiddenFor(model => model.Status)

    <div class="form-group">
        @Html.LabelFor(model => model.Parcela, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-2">
            @Html.EditorFor(model => model.Parcela, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Parcela, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ValorParcela, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-2">
            @Html.EditorFor(model => model.ValorParcela, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ValorParcela, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataVencimento, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-2">
            @Html.EditorFor(model => model.DataVencimento, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.DataVencimento, "", new { @class = "text-danger" })
        </div>
    </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox(model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


}
