@model BI.GST.Application.ViewModels.FinanceiroViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Financeiro</h4>
    <hr />
    <dl class="dl-horizontal">

        <h4>Título</h4>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperacaoStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOperacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOperacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instituicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusNome)
        </dd>

       <h4>Parcelas</h4>

        <hr />
        @foreach (var item in Model.Parcelas)
        {
            <dt>
                @Html.DisplayNameFor(model => item.Parcela)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Parcela)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.ValorParcela)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.ValorParcela)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.DataVencimento)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.DataVencimento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.DataQuitacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.DataQuitacao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Pago)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Pago)
            </dd>

            <hr/>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FinanceiroId }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
