@model IEnumerable<BI.GST.Application.ViewModels.FinanceiroViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>

@using (Html.BeginForm("Index", "Financeiro", new { pesquisa = "" }, FormMethod.Get))
{
    <p>
        Pesquisar Por Titulo: @Html.Editor("pesquisa") <input type="submit" value="PesquisarPorTitulo" class="btn btn-default"  />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instituicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOperacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instituicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperacaoStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOperacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusNome)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FinanceiroId }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.FinanceiroId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.FinanceiroId })
        </td>
    </tr>
}

</table>

@Html.Partial("_Paginacao")
