@model BI.GST.Application.ViewModels.SESMTEmpresaFuncionarioViewModel

@using (Html.BeginCollectionItem("SESMTEmpresaFuncionarioViewModel"))
{
    @Html.HiddenFor(model => model.SESMTEmpresaFuncionarioId)
    @Html.HiddenFor(model => model.SESMTEmpresaId)

    <div class="form-group">
        @Html.LabelFor(model => model.Funcionario.FuncionarioId, "Funcionario", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FuncionarioId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Funcionario.FuncionarioId, "", new { @class = "text-danger" })
        </div>
    </div>

}


