@model BI.GST.Application.ViewModels.SESMTEmpresaViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>SESMT Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.NomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.NomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroFuncionarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFuncionarios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SESMTEmpresaID }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
