@model BI.GST.Application.ViewModels.CertificadoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Certificado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoCurso.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituicaoCurso.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusNome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
