@model BI.GST.Application.ViewModels.AgenteBiologicoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir este registro?</h3>
<div>
    <h4>Agente Biologico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoExposicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoExposicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FonteGeradora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FonteGeradora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Efeito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Efeito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassificacaoEfeito.Classificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassificacaoEfeito.Classificacao)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Orientacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orientacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidasPropostas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidasPropostas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundamentacaoLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundamentacaoLegal)
        </dd>

     </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
