@model BI.GST.Application.ViewModels.TipoExameViewModel

@{
	ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
	<h4>Tipo Exame</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Nome)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Nome)
		</dd>


		<dt>
			@Html.DisplayNameFor(model => model.MesesValidade)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MesesValidade)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Editar", "Edit", new { id = Model.TipoExameId }) |
	@Html.ActionLink("Voltar para Lista", "Index")
</p>
