@model BI.GST.Application.ViewModels.FuncionarioEmpresaViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>FuncionarioEmpresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSaida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Demissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demissao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.FuncionarioEmpresaId }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
