@model IEnumerable<BI.GST.Application.ViewModels.FuncionarioEmpresaViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </th>
        <th>
            @Html.DisplayName("Empresa")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.NomeFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraSaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusNome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FuncionarioEmpresaId }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.FuncionarioEmpresaId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.FuncionarioEmpresaId })
        </td>
    </tr>
}

</table>
