@model IEnumerable<BI.GST.Application.ViewModels.AgenteErgonomicoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Agentes Ergonomicos", new { pesquisa = "" }, FormMethod.Get))
{
    <p>
        Pesquisar Por nome: @Html.Editor("pesquisa") <input type="submit" value="Pesquisar" class="btn btn-default" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FonteGeradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orientacao)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FonteGeradora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orientacao)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgenteErgonomicoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgenteErgonomicoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgenteErgonomicoId })
        </td>
    </tr>
}

</table>
@Html.Partial("_Paginacao")
