@model BI.GST.Application.ViewModels.AgenteFisicoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AgenteFisico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimiteTolerancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimiteTolerancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelAcao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelAcao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoExposicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoExposicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fonte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fonte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caracteristicas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caracteristicas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orientacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orientacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidasPropostas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidasPropostas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidasExistentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidasExistentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnaliseQualitativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnaliseQualitativa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EfeitosPotenciais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EfeitosPotenciais)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ClassificacaoEfeito.Classificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassificacaoEfeito.Classificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundamentacaoLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundamentacaoLegal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

      </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgenteFisicoId }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
