@model IEnumerable<BI.GST.Application.ViewModels.InstituicaoCursoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.InstituicaoCursoId }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.InstituicaoCursoId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.InstituicaoCursoId })
        </td>
    </tr>
}

</table>
