@model BI.GST.Application.ViewModels.TipoCursoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoCurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesesValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesesValidade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoCursoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
