@model IEnumerable<BI.GST.Application.ViewModels.TipoCursoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("Index", "TipoCursos", new { pesquisa = "" }, FormMethod.Get))
{
  <p>
    Pesquisar Por nome: @Html.Editor("pesquisa") <input type="submit" value="Pesquisar" class="btn btn-default" />
  </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Validade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoCursoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoCursoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoCursoId })
        </td>
    </tr>
}

</table>

@Html.Partial("_Paginacao")
@Html.Partial("_Mensagem")
