@model IEnumerable<BI.GST.Application.ViewModels.UsuarioViewModel>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Criar", "Create")
</p>

@using (Html.BeginForm("Index", "Usuarios", new { pesquisa = "" }, FormMethod.Get))
{
	<p>
		Pesquisar Por nome: @Html.Editor("pesquisa") <input type="submit" value="Pesquisar" class="btn btn-default" />
	</p>
}

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Nome)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>

		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.ActionLink("Editar", "Edit", new { id = item.UsuarioId }) |
				@Html.ActionLink("Detalhar", "Details", new { id = item.UsuarioId }) |
				@Html.ActionLink("Deletar", "Delete", new { id = item.UsuarioId })
			</td>
		</tr>
	}

</table>

@Html.Partial("_Paginacao")
@Html.Partial("_Mensagem")
