@model BI.GST.Application.ViewModels.MedicaoAgenteViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Medição Agente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDemonstraAmbientais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDemonstraAmbientais)
        </dd>

     </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MedicaoAgenteId }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
