@model BI.GST.Application.ViewModels.MedicaoAgenteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedicaoAgente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDemonstraAmbientais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDemonstraAmbientais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedicaoAgenteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
