@model IEnumerable<BI.GST.Application.ViewModels.MedicaoAgenteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>

@using (Html.BeginForm("Index", "Medições Agentes", new { pesquisa = "" }, FormMethod.Get))
{
    <p>
        Pesquisar Por nome: @Html.Editor("pesquisa") <input type="submit" value="Pesquisar" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDemonstraAmbientais)
        </th>
       <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDemonstraAmbientais)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.MedicaoAgenteId }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.MedicaoAgenteId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.MedicaoAgenteId })
        </td>
    </tr>
}

</table>
@Html.Partial("_Paginacao")
