@model IEnumerable<BI.GST.Domain.Entities.AgenteQuimico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LimiteTolerancia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoExposicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fonte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caracteristicas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orientacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedidasPropostas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedidasExistentes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnaliseQualitativa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EfeitosPotenciais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fundamentacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LimiteTolerancia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempoExposicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fonte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EPI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EPC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caracteristicas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orientacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedidasPropostas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedidasExistentes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnaliseQualitativa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EfeitosPotenciais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fundamentacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgenteQuimicoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgenteQuimicoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgenteQuimicoId })
        </td>
    </tr>
}

</table>
