@model BI.GST.Application.ViewModels.AnexoViewModel

@using (Html.BeginCollectionItem("AnexoViewModel"))
{
    @Html.HiddenFor(model => model.AnexoID)
    @Html.HiddenFor(model => model.PPRAId)

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-2">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Imagem, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-2">
            @Html.EditorFor(model => model.Imagem, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Imagem, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />

}
