@model IEnumerable<BI.GST.Application.ViewModels.VacinaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Vacinas", new { pesquisa = "" }, FormMethod.Get))
{
    <p>
      Pesquisar Por nome: @Html.Editor("pesquisa") <input type="submit" value="Pesquisar" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
      <th>
        @Html.DisplayName("Funcionario")
      </th>
      <th>
        @Html.DisplayName("Tipo Vacina")
      </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoVacina.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusNome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VacinaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VacinaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VacinaId })
        </td>
    </tr>
}

</table>

@Html.Partial("_Paginacao")
