@model BI.GST.Application.ViewModels.CIPAEmpresaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CIPAEmpresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.NomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.NomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroFuncionarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFuncionarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroFuncionariosEfetivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFuncionariosEfetivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroFuncionariosSuplentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFuncionariosSuplentes)
        </dd>

        <h4>Funcionarios</h4>

        <hr />
        @foreach (var item in Model.CIPAEmpresaFuncionarios)
        {

            <dt>
                @Html.DisplayNameFor(model => item.Funcionario.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Funcionario.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Efetivo)
            </dt>


            <dd>
                @Html.DisplayFor(Model => item.Efetivo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Reeleito)
            </dt>

            <dd>
                @Html.DisplayFor(Model => item.Reeleito)
            </dd>

            <hr />
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
