@model BI.GST.Application.ViewModels.CIPAEmpresaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CIPAEmpresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.NomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.NomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroFuncionarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroFuncionarios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CipaEmpresaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
