@model IEnumerable<BI.GST.Application.ViewModels.CIPAEmpresaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "CIPA", new { pesquisa = "" }, FormMethod.Get))
{
    <p>
        Pesquisar Por Nome: @Html.Editor("pesquisa") <input type="submit" value="Pesquisar" class="btn btn-default" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.NomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroFuncionarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.NomeFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroFuncionarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CipaEmpresaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CipaEmpresaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CipaEmpresaID })
        </td>
    </tr>
}

</table>
@Html.Partial("_Paginacao")
