@model BI.GST.Application.ViewModels.OSViewModel

@{
	Layout = null;
}

<h2>ORDEM DE SERVIÇO</h2>

<div>
	<h4>Dados Gerais da O.S.</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayName("Nome Completo")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.Nome)
		</dd>

		<dt>
			@Html.DisplayName("CPF")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.CPF)
		</dd>

		<dt>
			@Html.DisplayName("Função")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.CBO.Nome)
		</dd>

		<dt>
			@Html.DisplayName("CBO")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.CBO.CodigoCBO)
		</dd>

		<dt>
			@Html.DisplayName("Data Elaboração")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DataElaboracao)
		</dd>

		<dt>
			@Html.DisplayName("Próxima Revisão")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DataRevisao)
		</dd>

		<dt>
			@Html.DisplayName("Definição da Função")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.CBO.Descricao)
		</dd>

		<h4>Riscos Ambientais Encontrados</h4>
	
		<dt>
			@Html.DisplayName("Fisico")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.Setor.AgenteFisicos)
		</dd>

		<dt>
			@Html.DisplayName("Quimico")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.Setor.AgenteQuimicos)
		</dd>

		<dt>
			@Html.DisplayName("Biologico")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.Setor.AgenteBiologicos)
		</dd>

		<dt>
			@Html.DisplayName("Ergonomico")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.Setor.AgenteErgonomicos)
		</dd>

		<dt>
			@Html.DisplayName("Acidente")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Funcionario.Setor.AgenteAcidentes)
		</dd>

		<h4>EPI Recomendado para PPRA</h4>

		<dd>
			@Html.DisplayFor(model => model.EPIRecomendado)
		</dd>

		<dt>
			@Html.DisplayName("Recomendações Técnicas")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Recomentacoes)
		</dd>

		<h4>Assinatura do Colaborador</h4>

		<h4>Data</h4>

		<h4>Representantes da Empresa</h4>

		<h4>Técnico de Segurança</h4>

		<h4>Responsável</h4>
	</dl>
</div>