@model IEnumerable<BI.GST.Application.ViewModels.OSViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Funcionario")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataElaboracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRevisao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
		<td>
			@Html.DisplayFor(modelItem => item.Funcionario.Nome)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.DataElaboracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRevisao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OsId }) |
			@Html.ActionLink("Gerar", "Gerar", new { id = item.OsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OsId })
        </td>
    </tr>
}

</table>
@Html.Partial("_Mensagem")
