@model BI.GST.Application.ViewModels.RiscoFuncionarioViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RiscoFuncionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgenteCausadorCBO.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgenteCausadorCBO.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgenteRiscoCBO.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgenteRiscoCBO.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FonteRiscoCBO.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FonteRiscoCBO.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consequencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consequencias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidasPreventivas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidasPreventivas)
        </dd>
      
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RiscoFuncionarioId }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
