@model IEnumerable<BI.GST.Application.ViewModels.RiscoFuncionarioViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consequencias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedidasPreventivas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consequencias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedidasPreventivas)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.RiscoFuncionarioId }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.RiscoFuncionarioId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.RiscoFuncionarioId })
        </td>
    </tr>
}

</table>
