@model IEnumerable<BI.GST.Application.ViewModels.AgenteAcidenteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Agente Acidentes", new { pesquisa = "" }, FormMethod.Get))
{
    <p>
        Pesquisar Por nome: @Html.Editor("pesquisa") <input type="submit" value="Pesquisar" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoExposicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fonte)
        </th>
       <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempoExposicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fonte)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgenteAcidenteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgenteAcidenteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgenteAcidenteId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Voltar para lista", "Index")
</div>
